.base {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
}

.title {
  display: flex;
  align-items: center;
  order: 1;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-top: 1px solid #e3e3e3;

  &::before {
    position: relative;
    top: 1px;
    margin-right: 1rem;
    content: url("data:image/svg+xml,%3Csvg width='35' height='21' viewBox='0 0 602 360' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M481.36 180C481.36 196.572 474.639 211.572 463.757 222.42C452.875 233.28 437.845 240 421.24 240C404.635 240 389.605 246.708 378.735 257.568C367.853 268.428 361.12 283.428 361.12 300C361.12 316.572 354.399 331.572 343.517 342.42C332.635 353.28 317.605 360 301 360C284.395 360 269.365 353.28 258.495 342.42C247.613 331.572 240.88 316.572 240.88 300C240.88 283.428 247.613 268.428 258.495 257.568C269.365 246.708 284.395 240 301 240C317.605 240 332.635 233.28 343.517 222.42C354.399 211.572 361.12 196.572 361.12 180C361.12 146.856 334.21 120 301 120C284.395 120 269.365 113.28 258.495 102.42C247.613 91.572 240.88 76.572 240.88 60C240.88 43.428 247.613 28.428 258.495 17.568C269.365 6.708 284.395 0 301 0C334.21 0 361.12 26.856 361.12 60C361.12 76.572 367.853 91.572 378.735 102.42C389.605 113.28 404.635 120 421.24 120C454.45 120 481.36 146.856 481.36 180Z' fill='%23F44250'/%3E%3Cpath d='M240.88 180C240.88 146.862 213.964 120 180.76 120C147.557 120 120.64 146.862 120.64 180C120.64 213.137 147.557 240 180.76 240C213.964 240 240.88 213.137 240.88 180Z' fill='%23121212'/%3E%3Cpath d='M120.64 300C120.64 266.863 93.7234 240 60.52 240C27.3167 240 0.400024 266.863 0.400024 300C0.400024 333.138 27.3167 360 60.52 360C93.7234 360 120.64 333.138 120.64 300Z' fill='%23121212'/%3E%3Cpath d='M601.6 300C601.6 266.863 574.683 240 541.48 240C508.277 240 481.36 266.863 481.36 300C481.36 333.138 508.277 360 541.48 360C574.683 360 601.6 333.138 601.6 300Z' fill='%23121212'/%3E%3C/svg%3E");
  }
}

.titleLink {
  color: #3992ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.formWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e3e3e3;
}

.form {
  position: relative;
}

.searchSpinner {
  position: absolute;
  top: 0.75rem;
  left: 0.625rem;
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  flex: 1;
  padding: 1rem 2rem 0;
  overflow: auto;
}

.contactList {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    margin: 0.25rem 0;
  }
}

.contactLink {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  overflow: hidden;
  color: inherit;
  white-space: pre;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 100ms;

  &:hover {
    background: #e3e3e3;
  }
}

.contactLinkActive {
  color: white;
  background: hsl(224deg 98% 58%);

  &:hover {
    color: white;
    background: hsl(224deg 98% 58%);
  }
}

.contactLinkPending {
  animation: progress 2s infinite ease-in-out;
  animation-delay: 200ms;
}

@keyframes progress {
  0% {
    background: #e3e3e3;
  }

  50% {
    background: hsl(224deg 98% 58% / 50%);
  }

  100% {
    background: #e3e3e3;
  }
}

.favorite {
  float: right;
  color: #eeb004;

  .contactLinkActive & {
    color: inherit;
  }
}

.temporary {
  color: #818181;

  .contactLinkActive & {
    color: inherit;
  }
}
