# PR 作成者を自動的に assignee に設定する。

name: Auto Author Assign

on:
  pull_request:
    types: [opened, reopened]

jobs:
  assign-author:
    runs-on: ubuntu-latest

    steps:
      - uses: toshimaru/auto-author-assign@v2.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
