# Pull Request Merge に必要なチェックを行う。
#
# (Start) ─┬─ lint ────────────┬─ (Done)
#          ├─ test  ───────────┤
#          ├─ build_catalog ───┤
#          ├─ build_routing ───┤
#          └─ build_statement ─┘

name: Check Syntax

on:
  pull_request:
    branches:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Initialize
        uses: ./.github/actions/restore-node
      - name: Run Lint
        run: pnpm -r typegen:rr && pnpm catalog generate && pnpm -r lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Initialize
        uses: ./.github/actions/restore-node
      - name: Unit Test - Core
        run: pnpm core test
      - name: Unit Test - Try
        run: pnpm try test

  build_catalog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Initialize
        uses: ./.github/actions/restore-node
      - name: Build builder & icon
        run: pnpm builder build; pnpm icon build
      - name: Build
        run: pnpm catalog build

  build_routing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Initialize
        uses: ./.github/actions/restore-node
      - name: Build builder & icon
        run: pnpm builder build; pnpm icon build
      - name: Build
        run: pnpm routing build

  build_statement:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Initialize
        uses: ./.github/actions/restore-node
      - name: Build builder & icon
        run: pnpm builder build; pnpm icon build
      - name: Build
        run: pnpm statement build
